<%- include('partials/header.ejs') -%>
    <body>
        <%- include('partials/navbar.ejs') %>
        <div class="main-body">
             
                
               
            
                <% if(isLogin){ %>  
                    <span class="add">
                        <a href="/compose" ><p>Add</p></a>
                        
                        </span>
                <% } %>
                
                <% if(isLogin===false){ %>  
                    <p style="font-family:'Courier New', Courier, monospace;font-size: 2vh;">login to use the app</p>
                <% } %>

            

            <% content.forEach(function(post){ %>
                <div class="content"> 
                    <h2><%=post.title %></h2>
                    <p><%=  post.content.substring(0,50)+'....' %></p>
                    <span class="bottom-tag">
                        <a href="<%= post.title %>" style="color: blue;text-decoration-line: none;">read more</a>

                        <form method="post" action="/<%=post.title%>">
                            <%if(post.title==='Marcus Aurelius'){%>
                                <% ""%>
                            <% }else{%>
                                <button type="submit"  style="cursor:pointer;border:0px" class="del"  >
                                    <i  class="fa-solid fa-trash fa-1x"></i>
                                </button>
                            <%}%>
                              
                        </form>
                        
                        
                    </span> 
                </div>
       <% } )%> 


        </div>
      
         
        
        <%- include('partials/footer') -%>



        <!-- Scripts -->
        <script>
            document.querySelector('#ham')
            .addEventListener('click',(e)=>{
                document.querySelector('.nav-menu').classList.toggle('hover-menu')
              }); 
          </script>
        <script src="" async defer></script>
    </body>
</html>

